/* Keyframes */
@keyframes blink-warning { 70% { color: white }
    to { color: white;
         background-color: orange } }

@keyframes blink-critical { 70% { color: white }
    to { color: white;
         background-color: red } }
         
/* Base styles */
/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #1d2021;
    color: #c8ad7c;
    font-family: monospace;
	font-weight: bold;
    font-size: 20px; }
tooltip {
	background: #282828;
	border: 1px solid #504945;
	font-size: 20px; }

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;}

/* Module styles */
#temperature.critical {
    color: #c8ad7c;
	background-color: #c14a4a;
}




#backlight { color: #b47109; }

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
#battery.warning {
    color: #1d2021;
	background-color: #b47109; }
#battery.critical {
    color: #c8ad7c;
	background-color: #c14a4a; }
#battery.warning.discharging {
    animation-name: none;
    animation-duration: 0s; }
#battery.critical.discharging {
    animation-name: none;
    animation-duration: 0s; }

#clock { font-weight: bold; }

#cpu {}
#cpu.warning { color: orange; }
#cpu.critical { color: #c14a4a; }

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
#memory.warning { color: orange; }
#memory.critical {
    color: #c14a4a;
    animation-name: blink-critical;
    animation-duration: 2s; }

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network { color: #45707a; }
#network.disconnected { color: #c14a4a; }

#pulseaudio { color: #6c782e; }
#pulseaudio.muted { color: #c14a4a; }

#window { font-weight: bold; }

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888; }
#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #285577; }
#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d; }
    
/* Task Bar (Active Windows) */
#taskbar { color: #c8ad7c }
#taskbar button{ 
	color: #c8ad7c;
	background-color: #32302f; }
#taskbar button.active{
	color: #c8ad7c;
	background-color: #444C27; }
#taskbar button.minimized{
	color: #c8ad7c;
	background-color: #462b2b; }
